.topo{
    margin: 3rem;
    padding: 2rem;
    margin-top: 3rem;
    background-color: #8f8f8f;
    border-radius: 2rem;
}

.newPost{
    color: rgba(23,209,255,0.8);
}

.bt-Finalizar{
    margin: 1rem !important;
}

.tema{
    margin-top: 1rem !important;
}