.text-decorator-none{
    text-decoration: none;
}

.margin{
    width: 330px;
    height: 440px;
    margin-top: 1rem;
    background-color: rgba(73, 144, 161, 0.8) !important;
}

.explorar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 3rem !important;
}

.by{
    margin-bottom: 1rem !important;
    color: rgb(73, 30, 73);
}

.marginTitulo{
    margin-top: 1rem !important;
}
