.imgPerfil {
    width: 20%;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 8rem;
    display: block;
    border: 5px solid rgba(23,209,255,0.8);
    animation: picture 3500ms ease-in-out infinite;

    transition: 0.5s;
  }
.imgPerfil:hover{
  width: 21%;
  transform: scale(2.1);
  border: 7px solid rgb(255, 255, 255);
}

@keyframes picture { 
  0% {
      transform: translateY(-50px);
      box-shadow: 0 3px 20px rgba(252, 252, 252, 1);
  }

  50% {
      transform: translateY(-50px);
      box-shadow: 0 3px 20px rgba(252, 252, 252, 0);
  }

  100% {
      transform: translateY(-50px);
      box-shadow: 0 3px 20px rgb(252, 252, 252, 1);
  }
}


  .west{
    color: rgba(23,209,255,0.8);
  }


.perfilContainer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
    background: linear-gradient(236.85deg, #62676e 27.26%, #5e8fc0 96.03%);
    border-radius: 2rem;
    opacity: 0.5;
  }
  
.perfil {
    border-radius: 2rem;
    padding: 1rem;
  } 

  
.postUser {
  justify-content: center;
    display: flex;
    gap: 1rem;
    margin: 3rem;
    flex-wrap: wrap;
  }
  
  .postPerfil {
    -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4); 
    box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 2rem;
    width: 330px;
    height: 440px;
    background-color: rgba(73, 144, 161, 0.8);
}

.posts{
  margin: 3rem;
}

.atualizar{
  color: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 10px 4px rgba(23,209,255,0.8);
}

.deletar{
  color: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 10px 4px rgba(214, 16, 16, 0.8);
}