.bg-cadastro {
    min-height: 100vh;
    background-image: url('/src/assets/Logo-West.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cancelar{
    text-decoration: none;
  }

  .cadastro{
    color: rgb(72, 12, 128);
  }