.branco{
    color: white;
}


.box1{
    background: linear-gradient(236deg, #552472 30%, #000000 120%);
    height: '120px';
}

.box2{
    background-color: #000000;
    text-decoration: none;
}

.redes{
    font-Size: 60px !important;
    color:white;
}