.imagem{
  background-image: url(/src/assets/W-AZUL.png);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}


.signIn{
  color: rgb(42, 29, 228) !important;
}


.ainda{
  color: white;
}

.clique{
  color: rgb(42, 29, 228);
  font-weight: bold !important;
}


.entrar{
  color: rgb(255, 255, 255) !important;
  box-shadow: 0px 0px 10px 2px rgba(23,209,255,0.8);
}


.bg-Form{
  background-color: rgb(165, 138, 170);
  box-shadow: 0px 0px 10px 2px rgba(23,209,255,0.8);
}