
.bg-login{
    min-height: 100vh;
    background-image: url('/src/assets/W-AZUL.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .cadastre{
    text-decoration: none;
    color: rgb(42, 29, 228);
  }

  .negrito{
    font-weight: bold !important;
  }

  .entrar:hover{
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(23,209,255,0.8);
  }

  .ainda{
    color: white;
  }

  .textfield{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgba(23,209,255,0.8);
  }